---
import Footer from '@astrojs/starlight/components/Footer.astro'
---

<Footer />

<footer style="text-align: right; font-style: italic; padding: 0.5em 1em">
  <p>
    <small>Released under the MIT License</small>
  </p>
  <p>
    <small>A project by <a href="https://ayo.ayco.io">Ayo</a></small>
  </p>
</footer>
